.tick-tac-toe .board {
  display: grid;
  grid-template-columns: repeat(3, 130px); 
  grid-template-rows: repeat(3, 130px);
  gap: 20px;
  margin-left: 33vw;
}

.tick-tac-toe .square {
  margin-top: 20px;
  font-size: 36px;
  width: 130px; 
  height: 130px; 
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 60px;
}

.tick-tac-toe .square:hover {
  background-color: #c6c0c0;
}

.tick-tac-toe .status {
  margin-bottom: 10px;
  color: white;
  font-size: 2.5rem;
  margin-left: 42vw;
}

.tick-tac-toe h1{
  color: white;
  height: 100%;
  font-size: 5rem;
  margin-left: 33vw;

}

.new-game-button {
  margin-top: 9vh;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left:43vw ;
  height: 9vh;
  width: 10vw;
}

body{
  background-image: url(./assets/pexels-pixabay-207353.jpg);
  background-size: cover;
  background-repeat: 100% 100%;
}

.tick-tac-toe .new-game-button:hover {
  background-color: #0056b3;
}
